//Colors
$header-background-color: #20222b;
$header-subtitle-color: #a5afd7;

$color-white: #a5afd7;
$color-dark-blue: #333745;
$color-dark-blue-variant: #3c4251;
$color-light-blue: #464b5e;
$color-purple: #8357c5;
//Sizes
$sm-size: 1.6rem;
$md-size: 3.2rem;
$xl-size: 4.8rem;

$padding-sm: 1.2rem;
$padding-md: 2.4rem;
$desktop-breakpoint: 45rem;
