.header {
  background: $header-background-color;
  padding: $sm-size 0;
  color: $color-white;
  margin-bottom: $md-size;
}
.header__title {
  font-family: 'Megrim';
  font-size: $md-size;
  font-weight: bold;
}
.header__subtitle {
  color: $header-subtitle-color;
  font-size: $sm-size;
  font-weight: 500;
  margin: 0;
}
@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
